<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/logo.png">
    <title>ERROR!</title>
    <style>
      body{
        background: #020520;
        text-align: center;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
    }
    </style>
</head>
<body>
    <h1>Erro, Página nao Encontrada</h1>
    <br>
    <a href="/">Atualizar Página</a>
</body>
</html>