<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/logo.png">
    <link rel="stylesheet" href="/css/justificativa.css">
    <title>SISRAM</title>
<style>
    
 *{
    margin: 0;
    text-decoration: none;
}

body{
    background: #020520;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    height: 80px;
}

header a{
    color: black;
    font-size: 1.5rem;
    margin: 80px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

main h3{
    font-size: 5rem;
    margin-top: 80px;
    color: white;

}

section{
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section a{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

section input{
    width: 40rem;
    padding: 1rem;
    border-radius: 5rem;
    border: none;
    font-size: 1.4rem;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1.7rem;
    text-align: center;
    color: aliceblue;
    padding: 15px;
}
   
</style>
</head>
<body>
<header>
    <div>
        <a href="#">Saiba Como Ingressar</a>
        <a href="#">Serviços</a>
        <a href="#">Contatos</a>
        </div> 
    <h3>Justificar</h3>
</header>
<section>
    <a href="https://www.siepe.educacao.pe.gov.br/"><input type="button" value="Site Siepe"></a>
    <a href="https://play.google.com/store/apps/details?id=br.com.auge.siepefrequencia&hl=pt_BR"><input type="button" value="App Siepe"></a>
    <a href="/"><input type="button" value="Voltar"></a>
</section>
<footer>
    <p>2025 - <strong>ETE Ginásio Pernambucano.</strong> Todos os Direitos Reservados. Entrem em contato pelo <a href="https://www.instagram.com/garra_inc_technology/">@garra_inc_technology</a></p>
</footer>
    
</body>
</html>
