<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/justificativa.css">
    <title>SISRAM</title>
    <style>
        *{
        margin: 0;
        text-decoration: none;
        }

        body{
            background: #020520;
        }

        header div{
            color: #040f6b;
            display: flex;
            justify-content: center;
            align-items: center;
            background: white;
            height: 80px;
            font-size: 2rem;
        }

        header h3{
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3rem;
            margin-top: 150px;
        }

        section{
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        section a{
            display: flex;
            justify-content: center;
            margin-top: 30px;
        }

        section input{
            width: 40rem;
            padding: 1rem;
            border-radius: 5rem;
            border: none;
            font-size: 1.4rem;
        }

        footer{
            position: fixed;
            bottom: 0;
            width: 100%;
            font-size: 1.7rem;
            text-align: center;
            color: aliceblue;
            padding: 15px;
        }
    </style>
</head>
<body>
<header>
    <div>
       <h1>SISRAM</h1>
    </div> 
    <h3>Justificar</h3>
</header>
<section>
    <div class="conten">
        <a href="https://www.siepe.educacao.pe.gov.br/"><input type="button" value="Site Siepe"></a>
        <a href="https://play.google.com/store/apps/details?id=br.com.auge.siepefrequencia&hl=pt_BR"><input type="button" value="App Siepe"></a>
        <a href="/"><input type="button" value="Voltar"></a>
    </div>
</section>
<footer>
    <p> &copy;  2025 - <strong>ETE Ginásio Pernambucano</strong>. Todos os Direitos Reservados. Criado e Desenvolvido por: <strong>Garra Inc Technology</strong>  Entrem em contato por:  <a href="https://www.instagram.com/garra_inc_technology/">@garra_inc_technology</a></p>
</footer>
    
</body>
</html>