<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/loginprof.css">
<title>SISRAM</title>
<style>
body {
    font-family: "Chakra Petch", sans-serif; /* Define a fonte padrão */
    background-color: #020520; /* Cor de fundo da página */
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    height: 100vh; /* Preenche a altura total da viewport */
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o padding padrão */
    }   

p {
    color: #ffffff;
    }

/* Estiliza os títulos h1 */
h1 {
    font-size: 30px; /* Tamanho da fonte */
    color: #392bf3; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    letter-spacing: 3px; /* Espaçamento entre letras */
    margin-left: -1200px;
}

h2 {
    color: #ffffff;
    font-size: 50px;
    margin-left: 450px;
    margin-top: 100px;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -46px;
    margin-left: 20px;
    width: 130px;
    }

    header {
        position: absolute;
        top: 0px;
        margin-bottom: 1rem;
        background-color: #ffffff;
        width: 1358px;
        height: 75px;
    }


/* Estiliza as seções da página */
section {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-bottom: 3rem; /* Espaçamento abaixo de cada seção */
    margin-top: 140px;
}

/* Estiliza os inputs dentro das seções */
section input {
    width: 30rem; /* Largura dos inputs */
    border: none; /* Remove a borda padrão */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 1.5rem; /* Borda arredondada */
    margin-bottom: 1rem; /* Espaçamento abaixo dos inputs */
    color: #09368f; /* Cor do texto */
    font-size: 1rem; /* Tamanho da fonte */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

.picture__input{
    width: 30rem; /* Largura dos inputs */
    border: none; /* Remove a borda padrão */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 1.5rem; /* Borda arredondada */  
    margin-bottom: 1rem; /* Espaçamento abaixo dos inputs */
    color: #09368f; /* Cor do texto */
    font-size: 1rem; /* Tamanho da fonte */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}


/* Estiliza os botões dentro das seções */
button {
    padding: 0.8rem 1.2rem; /* Espaçamento interno do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 1.5rem; /* Borda arredondada */
    background-color: #033073; /* Cor de fundo do botão */
    color: #ffffff; /* Cor do texto do botão */
    font-size: 1rem; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

/* Adiciona efeito hover ao botão de pesquisa */
button:hover {
    background-color: #30475E; /* Muda a cor de fundo ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra mais intensa */
}

/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
    width: 60rem; /* Largura máxima da caixa de resultados */
    height: 46vh; /* Altura máxima da caixa de resultados */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
    margin-top: 1rem; /* Espaçamento acima da caixa de resultados */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 0.6rem; /* Borda arredondada */
}

/* Estiliza cada item de resultado */
.item-resultado {
    background: #020520; /* Cor de fundo dos itens */
    border-radius: 0.6rem; /* Borda arredondada */
    padding: 1rem; /* Espaçamento interno */
    margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado h2 {
    font-size: 1.5rem; /* Tamanho da fonte */
    color: #ffff; /* Cor do texto */
}

/* Estiliza os links dentro dos itens de resultado */
.item-resultado a {
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    color: #033073; /* Cor do texto dos links */
}

/* Estiliza os links quando são passados o mouse sobre */
.item-resultado a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
    color: #45474B; /* Cor do texto */
    margin: 0.5rem 0; /* Margem acima e abaixo */
}

/* Estiliza o rodapé da página */
footer {
    background-color: #020520; /* Cor de fundo do rodapé */
    color: #45474B; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    padding: 0; /* Espaçamento interno */
    width: 100%; /* Largura total da página */
    position: absolute; /* Posiciona o rodapé */
    bottom: 0; /* Alinha ao fundo da página */
    font-size: 1rem; /* Tamanho da fonte */
}

li, ul{
    list-style: none;
}
nav ul{
    display: flex;
}
nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #00005a;
    padding-bottom: 0.5rem;
    margin: 8px;
}
.mobile-menu-icon{
    display: none;
    position: absolute;
    top: 1rem;
    right: 2rem;
    z-index: 1;
    cursor: pointer;
}
.hamburguer-menu{
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    transition: all 0.5s;
}
.hamburguer-menu .line {
    background-color: #1c1e53;
    height: 3px;
    width: 100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
nav.open ul{
    transform: translateX(0);
}
nav.open .hamburguer-menu{
    transform: rotate(180deg);
}
nav.open .hamburguer-menu .line:nth-of-type(1) {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg) translate(00.6rem, 00.1rem);
}

nav.open .hamburguer-menu .line:nth-last-of-type(2) {
    display: none;
}

nav.open .hamburguer-menu .line:nth-of-type(3) {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg) translate(0.6rem, -0.1rem);
}

div {
    margin-left: 860px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    h3 {
        font-size: 2rem; /* Tamanho da fonte em telas menores */
        letter-spacing: 0.2rem; /* Espaçamento entre letras em telas menores */
    }
    .picture__input{
        width: 25rem; /* Largura dos inputs em telas menores */
        padding: 0.8rem; /* Espaçamento interno em telas menores */
    }

    section input {
        width: 25rem; /* Largura dos inputs em telas menores */
        padding: 0.8rem; /* Espaçamento interno em telas menores */
    }

    .resultados-pesquisa {
        width: 40rem; /* Largura da caixa de resultados em telas menores */
        height: 40vh; /* Altura da caixa de resultados em telas menores */
    }

    .item-resultado h2 {
        font-size: 1.3rem; /* Tamanho da fonte dos títulos em telas menores */
    }
}

/* Responsividade para celulares */
@media (max-width: 480px) {

    h3 {
        font-size: 1.8rem; /* Tamanho da fonte em telas pequenas */
        letter-spacing: 0.1rem; /* Espaçamento entre letras em telas pequenas */
    }

    section input {
        width: 17rem; /* Largura total dos inputs em telas pequenas */
        color: #033073;
    }

    button {
        padding: 0.6rem 1rem; /* Espaçamento interno do botão em telas pequenas */
        font-size: 0.9rem; /* Tamanho da fonte do botão em telas pequenas */
    }

    .resultados-pesquisa {
        width: 90%; /* Largura da caixa de resultados em telas pequenas */
        height: 50vh; /* Altura da caixa de resultados em telas pequenas */
    }

    .item-resultado h2 {
        font-size: 1.1rem; /* Tamanho da fonte dos títulos em telas pequenas */
    }

    footer {
        font-size: 1px; /* Tamanho da fonte do rodapé em telas pequenas */
    }

}
</style>
</head>
<body>
    <header>
        <NAV>
        <div>
            <ul>
        <li><a href="#">Saiba Como Ingressar</a></li>
        <li><a href="#">Serviços</a></li>
        <li><a href="#">Contatos</a></li>
            </ul>

        <div class="mobile-menu-icon">
            <div class="hamburguer-menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div> 
        </NAV>
    <h2>Login do Professor</h2>
</header>
<main>
    <section>
       <input type="text" placeholder="Login" id="login">
       <input type="password" placeholder="Senha" id="senha">
       <input type="submit" onclick="logar()">
    </section>
</main>
<footer>
    <p>2025 - <strong>ETE Ginásio Pernambucano.</strong> Todos os Direitos Reservados. Entrem em contato pelo <a href="https://www.instagram.com/garra_inc_technology/">@garra_inc_technology</a></p>
</footer>

<script>
function logar(){
    var login = document.getElementById('login').value;
    var senha = document.getElementById('senha').value;

    if(login == "professor" && senha == "prof55gp"){
        location.href="serie_prof"}
    else if(login == "direção" && senha == "d1r3c@0"){
        location.href="serie_prof"
    }else{
        alert('Usuário ou Senha Inválidos');
    }
}
</script>
</body>
</head>
</html>